<!DOCTYPE html>
<html>
<head><title>Test</title></head>
<body>
<p>Start of content</p>
<p>Line 1: This is a test file</p>
<p>Line 2: This is more content</p>
<p>Line 3: Even more content</p>
<p>Line 4: Lots of text here to make the file bigger: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<script>
// This is JavaScript content
var testVar = 'test';
function testFunction() {
  console.log('Test function');
}
// Repeat to make it longer:
// Comment 1
// Comment 2
// Comment 3
// Comment 4
// Comment 5
// Comment 6
// Comment 7
// Comment 8
// Comment 9
// Comment 10
// This is the marker we're looking for: MARKER_SIMPLE_TEST
</script>
</body>
</html>
